<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.toutiao">

    <application>
        <activity
            android:name="com.example.toutiao.ui.activity.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.toutiao.ui.activity.MainActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name="com.example.toutiao.ui.newsContent.NewsContentActivity">
        </activity>
        <activity android:name="com.example.toutiao.ui.news.NewsChannelActivity">
        </activity>
    </application>


</manifest>
